@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.logo {
  font-family: 'Lobster', cursive;
  font-size: 28pt;
  color: #FFF !important;
}
